rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Check if user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }
    
    match /hotels/{hotelId} {
      allow read: if true;
      // Allow create/update/delete only if user is in ownerEmail list
      allow write: if isAuthenticated() && (
        resource.data.ownerEmail is list ? 
        request.auth.token.email in resource.data.ownerEmail : 
        request.auth.token.email == resource.data.ownerEmail
      );

      match /menu/{menuId} {
        allow read: if true;
        
        // Check parent hotel document for ownership
        allow write: if isAuthenticated() && (
            get(/databases/$(database)/documents/hotels/$(hotelId)).data.ownerEmail is list ?
            request.auth.token.email in get(/databases/$(database)/documents/hotels/$(hotelId)).data.ownerEmail :
            request.auth.token.email == get(/databases/$(database)/documents/hotels/$(hotelId)).data.ownerEmail
        );
      }
    }
  }
}
